<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CallCentreDb" connectionString="Server=192.168.99.100;Port=3306;Uid=root;password=root;" />
  </connectionStrings>
  <appSettings>
    <!--<add key="OutputFileLocation" value="Z:\ProgramData\MySQL\MySQL Server 5.6\Uploads" />-->
    <add key="OutputFileLocation" value="D:\Development\BulkDataLoader\Output" />
  </appSettings>
</configuration>