<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="Server=localhost;Port=3306;Uid=root;password=********;" />
  </connectionStrings>
  <appSettings>
    <add key="OutputFileLocation" value="C:\ProgramData\MySQL\MySQL Server 5.7\Uploads" />
  </appSettings>
</configuration>